$fw-700: 700;
$fw-600: 600;
$fw-500: 500;
$fw-400: 400;

$desktop: 1200;
$lg: 992;
$tablet: 768;
$sm: 610;
$phone: 468;

$inter: "Inter", sans-serif;
$rfDevi: "RF Dewi Extended", sans-serif;

$white: #fff;
$black_text: #38363F;
$black_title: #191919;
$accent: #7645EF;

$gray: #86848C;
$gray100: #DBD9DF;