.header {
  color: $white;
  @include r($tablet) {
    @include bg;
    background-position: left;
    background-image: url("../images/start-bg.webp");
    border-radius: 0 0 32px 32px;
  }
  @include r($phone) {
    background-image: url("../images/start-bg-mobile.webp");
    border-radius: 0 0 16px 16px;
  }

  &__wrapper {
    @include bg;
    background-position: revert;
    display: flex;
    flex-direction: column;
    min-height: 720px;
    border-radius: 0 0 32px 32px;
    @include r($lg) {
      min-height: 840px;
    }
    @include r($tablet) {
      background-image: none !important;
    }
    @include r($sm) {
      min-height: 720px;
    }
  }

  &__top,
  &__content {
    margin: 0 32px;
    @media (max-width: 610px) {
      margin: 0;
    }
  }

  &__top,
  &__top-right {
    @include flex-center;
    justify-content: space-between;
  }

  &__top {
    padding-top: 32px;
    @include r($phone) {
      padding-top: 16px;
    }

    &-logo {
      max-width: 495px;
      width: 100%;
      display: flex;
    }
  }

  &__top-right {
    display: flex;
    gap: 30px;
    width: 100%;
    justify-content: space-between;
    margin-left: 12px;
    @media (max-width: 1420px) {
      margin-left: 0;
    }
    @media (max-width: 1290px) {
      display: none;
    }
    @include r($desktop) {
      flex-direction: column-reverse;
      position: absolute;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100vh;
      background-color: #1f1f1f;
      margin: 0;
      padding: 140px 32px 0;
      gap: 60px;
      transition: all .4s;
      &.active {
        left: 0;
      }
    }
    @media (max-width: 610px) {
      padding: 120px 15px 0;
    }
  }

  &__list {
    display: flex;
    font-size: 14px;
    gap: 25px;
    line-height: 1;
    @include r($desktop) {
      flex-direction: column;
      font-size: 18px;
      gap: 50px;
    }
  }

  &__link {
    transition: color .3s, opacity .3s;

    &:hover {
      color: $accent;
    }

    &:focus {
      opacity: .4;
    }
  }

  &__content {
    margin-top: auto;
    margin-bottom: 40px;
    margin-right: 180px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 1300px) {
      margin-right: 55px;
    }
    @include r($lg) {
      flex-direction: column;
      margin-right: 0;
      gap: 40px;
    }
    @include r($sm) {
      margin-bottom: 24px;
    }

    &-text {
      margin-top: auto;
      max-width: 495px;
      width: 100%;
      @include r($desktop) {
        max-width: 350px;
      }

      p {
        color: $gray;
        font-size: 14px;
        max-width: 245px;
      }
    }
  }

  &__right {
    max-width: 670px;
    width: 100%;
    @include r($desktop) {
      max-width: 510px;
      margin-left: auto;
    }
    @include r($lg) {
      margin-left: 0;
    }
  }

  &__title {
    margin-bottom: 25px;
    @include r($lg) {
      margin-bottom: 20px;
    }
  }

  &__text {
    color: $gray100;
    max-width: 470px;
    font-size: 18px;
    margin-bottom: 50px;
    line-height: 1.6;
    @include r($lg) {
      margin-bottom: 40px;
    }
    @include r($phone) {
      line-height: 1.55;
    }

    @media (max-width: 373px) {
      font-size: 16px;
    }
  }

  &__actions {
    display: flex;
    gap: 15px;
    @media (max-width: 373px) {
      flex-direction: column;
      text-align: center;
      gap: 10px;
    }
  }
}