.header {
  color: $white;

  &__wrapper {
    @include bg;
    display: flex;
    flex-direction: column;
    min-height: 720px;
    border-radius: 0 0 32px 32px;
  }

  &__top,
  &__content {
    margin: 0 32px;
  }

  &__top,
  &__top-right {
    @include flex-center;
    justify-content: space-between;
  }

  &__top {
    padding-top: 32px;
    gap: 40px;
  }

  &__top-right {
    margin-left: auto;
    display: flex;
  }

  &__list {
    display: flex;
    font-size: 14px;
    gap: 25px;
    line-height: 1;
    margin-right: 210px;
  }

  &__link {
    transition: color .3s, opacity .3s;

    &:hover {
      color: $accent;
    }

    &:focus {
      opacity: .4;
    }
  }

  &__content {
    margin-top: auto;
    margin-bottom: 40px;
    margin-right: 190px;
    display: flex;
    gap: 50px;
    justify-content: space-between;

    &-info {
      margin-top: auto;
      color: $gray;
      font-size: 14px;
      max-width: 230px;
      width: 100%;
    }
  }

  &__right {
    max-width: 670px;
    width: 100%;
  }

  &__title {
    margin-bottom: 25px;
  }

  &__text {
    color: $gray100;
    max-width: 470px;
    font-size: 18px;
    margin-bottom: 50px;
    line-height: 1.6;
  }

  &__actions {
    display: flex;
    gap: 15px;
  }
}

.menu-btn {
  height: 48px;
  width: 48px;
  cursor: pointer;
  z-index: 1000;
  display: none;
  position: absolute;
  border-radius: 50%;
  border: 1px solid #3E3E3E;
  padding: 18px 16px;
  transition: border .3s, opacity .3s;

  &:hover {
    border-color: $accent;
  }

  &:focus {
    opacity: .5;
  }

  @media(max-width: 800px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__line,
  &__line::after,
  &__line::before {
    background-color: #fff;
    content: '';
    left: 0;
    top: 0;
    width: 15px;
    height: 2px;
    transition: .3s ease-in-out .3s;
  }

  &__line::after,
  &__line::before {
    position: absolute;
  }

  &__line {
    position: relative;
    display: flex;

    &::before {
      margin-top: -6px;
    }

    &::after {
      margin-top: 6px;
    }
  }

  &.active {
    .menu-btn__line {
      background: transparent;
      transition: .5s ease-in-out;
      transform: rotate(-90deg);

      &::before {
        margin-top: 0;
        transform: rotate(-45deg);
        transition-delay: .5s;
      }

      &::after {
        margin-top: 0;
        transform: rotate(45deg);
        transition-delay: .5s;
      }
    }
  }
}