<footer class="footer indent" id="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__top" style="background-image: url('images/footer-bg.svg')">
                <img class="footer__img" src="images/footer-cars.webp" alt="автомобили" width="480" height="292">
                <div class="footer__content">
                    <span class="footer__digital">7 501 234</span>
                    <p class="footer__info">
                        У нас в базе столько машин то не просто а ссылки на прямые сообщения клиентов с отзывами.
                    </p>
                    <a class="footer__link btn btn--big btn--fiol" target="_blank" href="">Проверить свою</a>
                </div>
            </div>
            <div class="footer__bottom">
                <nav class="footer__nav">
                    <a class="logo" href="index.html">
                        <img class="logo__img" src="images/icons/logo.svg" alt="Логотип" width="162" height="30">
                    </a>
                    <div class="footer__nav-right">
                        <ul class="footer__list">
                            <li class="footer__item">
                                <a class="footer__link" href="#stop">Мошенникам нет</a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#mechanism">Механизм</a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#functions">Функции</a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#tariff">Стоимость</a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#history">Истории</a>
                            </li>
                        </ul>
                        <a class="footer__btn btn" href="#start">Вверх</a>
                    </div>
                </nav>
                <div class="footer__author">
                    <p class="footer__root">
                        © 2023. Все права защищены
                    </p>
                    <p class="footer__description">
                        Поиск информации о людях, данные о человеке, информация об автомобилях и недвижимости, найди
                        любые данные по телефону, фио или другим параметрам. Перечень источников информации: ГИБДД, ПФР,
                        ФНС, Росстат, ЕГРЮЛ, ФМС, ФСПП, ФНП, ЕАИСТО, РСА, ЕФРСБ, ФСФМ, Росреестр, Центр раскрытия
                        корпоративной информации, Фокус СКБ, Вконтакте, Facebook, Instagram, Одноклассники, Skype,
                        WhatsApp, Viber, Avito, Youla (Юла), Из рук в руки – Irr.ru, Avto.ru, Циан, Яндекс, Google,
                        Telegram, Mail.ru, Headhunter, Rusprofile, TrueCaller, Twitter, MTS, Билайн, Мегафон, Тинькофф
                        Мобайл, Tele2, ICQ, GetContact, Foursquare, GitHub, Drive2.ru, Автокод.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>