<header class="header" id="start">
    <div class="container">
        <div class="header__wrapper" style="background-image: url('images/start-bg.webp')">
            <nav class="header__top">
                <div class="header__top-logo">
                    <a class="logo" href="index.html">
                        <img class="logo__img" src="images/icons/logo.svg" alt="Логотип" width="162" height="30">
                    </a>
                </div>
                <div class="header__top-right">
                    <ul class="header__list">
                        <li class="header__item">
                            <a class="header__link" href="#stop">Мошенникам нет</a>
                        </li>
                        <li class="header__item">
                            <a class="header__link" href="#mechanism">Механизм</a>
                        </li>
                        <li class="header__item">
                            <a class="header__link" href="#functions">Функции</a>
                        </li>
                        <li class="header__item">
                            <a class="header__link" href="#tariff">Стоимость</a>
                        </li>
                        <li class="header__item">
                            <a class="header__link" href="#history">Истории</a>
                        </li>
                    </ul>
                    <a class="header__telegram btn" href="">Перейти</a>
                </div>
                <button class="menu-btn menu-btn--header">
                    <span class="menu-btn__line"></span>
                </button>
            </nav>
            <div class="header__content">
                <div class="header__content-text">
                    <p class="header__content-info">
                        Недобросовестный продавец будет выявлен моментально
                    </p>
                </div>
                <div class="header__right">
                    <h1 class="header__title title">
                    <span>
                        Проверь
                       <img class="title__decor" src="images/icons/1.webp" alt="автомобиль">
                    </span>
                        <br>автомобиль <br>
                        <span>
                        не выходя из дома
                        <img class="title__decor" src="images/icons/2.webp" alt="дом">
                    </span>
                    </h1>
                    <p class="header__text">
                        Теперь у тебя есть доступ к информации о интересующем автомобиле и его владельце
                    </p>
                    <div class="header__actions">
                        <a class="header__actions-btn btn btn--big btn--fiol" href="#tariff">
                            Ознакомится с ценой
                        </a>
                        <a class="header__actions-btn btn btn--big" id="btn-cases" href="#cases">
                            Успешные кейсы
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>